/* Liked the color scheme from Sublime Text so using it here */
:root {
  --background-color: hsl(70, 8%, 15%);
  --footer-background-color: hsl(60, 17%, 11%); /* hsl(70, 8%, 15%);*/
  --footer-color: hsl(0, 0%, 97%);; /* hsl(60, 30%, 96%);*/
  --footer-color-a:  hsl(54, 70%, 68%); /* hsl(60, 12%, 79%); */

  --header-background-color:  hsl(0, 0%, 0%);
  --header-color:  hsl(0, 0%, 97%); /* hsl(54, 70%, 68%); */
  --header-color-a: hsl(54, 70%, 68%); /*hsl(32, 98%, 56%);*/
  --header-color-dropdown-a:  hsl(32, 98%, 56%);
}


html {
  position: relative;
  min-height: 100%;
  background-color: var(--background-color);
}
body {
  margin-bottom: 60px;
  background-color: var(--background-color);
}

main > .container {
  padding: 120px 15px 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: var(--footer-background-color);
  color: var(--footer-color);
  text-align: center;
}
footer a {
    color: var(--footer-color-a);
}



#navbar-region{min-height: 60px;}
#navbar-region{background-color: var(--header-background-color); color: var(--header-color);}
#navbar-region a  {color: var(--header-color-a);}
.navbar-collapse ul.dropdown-menu li a  {color: var(--header-color-dropdown-a) !important;}

.logoText{font-size: 2em;margin-right:10px;}

.div-posts-table{margin-top:25px;}
.div-posts-table table{background-color: #DCDCDC;}
.div-posts-table table > thead {border-bottom: 1px solid;}
.div-posts-table table > thead > tr > th,  .div-posts-table table > tbody > tr > td {
    padding: 5px 8px 5px 8px;   
}
.div-posts-table table > tbody > tr:nth-child(1) > td {padding-top: 15px  }

.posts-table img{width:20px; height:20px;}
.posts-table span {padding: 5px; margin: 5px; cursor: pointer;}
.posts-table span:nth-child(1) {padding-left: 0; }
.empty-table td{padding-top:10px !important; padding-bottom:10px !important; padding-left:10px; font-size: 1.2em;}



.forDelete{
    background-color: #acbad4;
}
.fa-remove{
    color:red;
    cursor:pointer;
}